h1,ul {
  margin: 0;
}

li {
  margin-bottom: 5px;
}

a {
  text-decoration: none ;
}

body {
  padding: 0;
  margin: 0;
  background: #eef7e9;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}

.logo {
  color: #63a839;
  font-size: 24px;
  position: absolute;
  padding-top: 10px
}

.container {
  max-width: 1280px;
  width: calc(100% - 50px);
  margin-right: auto;
  margin-left: auto;
}

.sidebar {
    overflow: hidden;
    position: absolute;
    width: 250px;
    height: 100%;
    margin-top: 0;
}

.lang-menu {
  margin-top: 0;
  margin-right: 30px;
  height: auto;
  padding-top: 15px;
  padding-bottom: 10px;
  background: #63a839;
  color: #ffffff;
}


.main {
    margin-left: 240px;
    background: #ffffff;
    padding: 20px;
}

 h1 {
   color: green;
   border-style: solid;
   border-width: thin; 
   border-color: red;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
 }
